* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
} 
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; 
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 0px 0px 4px 1px black;  
}
.left h1 {
    font-weight: 800;
}

.right {
    border: 2px solid black;
    padding: 5px 0;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.right:hover {
    background-color: black;
    color: aliceblue;
}

.right p {
    font-weight: 800;
    font-size: 12px;
}

/* Content styling */
.content {
    padding: 20px;
}
